<%- include('partials/header.ejs') %>
        <h1> Welcome to the Solar System Site!</h1>
        <p style="color:white;">Click on a planet to know more about it:</p>
        <div style="text-align:center;" id="outer">
            <nav id="outer">
                <a href="/jupiter" class="btn"> Jupiter</a>
                <a href="/mercury" class="btn"> Mercury</a>
                <a href="/neptune" class="btn"> Neptune</a>
                <a href="/saturn"  class="btn"> Saturn</a>
                <a href="/uranus"  class="btn"> Uranus</a>
            </nav>
        </div>
        <img src="/img/main.jpg"/>
<%- include('partials/footer.ejs') %>