<%- include('partials/header.ejs') %>
        <h1> Jupiter</h1>
        <div style="text-align:center;">
            <nav>
                <a href="/"  class="btn"> Main Page</a>
                <a href="/jupiter" class="btn"> Jupiter</a>
                <a href="/mercury" class="btn"> Mercury</a>
                <a href="/neptune" class="btn"> Neptune</a>
                <a href="/saturn"  class="btn"> Saturn</a>
                <a href="/uranus"  class="btn"> Uranus</a>
            </nav>
        </div>
        <img src="/img/jupiter.png"/>
        <div class="info">
            <ul>
                <li>Since it is the fourth brightest object in the sky, Jupiter was observed since ancient times and thus no one can be credited for its discovery. However, the first telescopic observations were conducted by Galileo Galilei in 1609 and in 1610 Galileo also discovered the major moons of Jupiter, but of course not the smaller ones.</li>
                <li>Since many cultures observed Jupiter, they all gave it different names but the Roman name remained used in the majority of cultures. Jupiter is named after the principal Roman god, the equivalent of the Greek god Zeus.</li>
                <li>Jupiter is one of the five visible planets (Mercury, Venus, Mars, Saturn), being the fifth most distant from the Sun at an average distance of 5.2 AU, its closest approach is at 4.9 AU and at its farthest 5.4 AU. Its exact position can be checked online since the planet is constantly tracked.</li>
                <li>It is the biggest planet of the Solar System, with a mean radius of 43.440 miles / 69.911 km, a diameter at the equator of about 88.846 mi / 142.984 km, and at the poles, the diameter is only 83.082 mi / 133.708 km.</li>
                <li>Jupiter is also twice as massive as all the other planets combined, having 318 times the mass of Earth.</li>
                <li>Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass one-thousandth that of the Sun, but two-and-a-half times that of all the other planets in the Solar System combined.</li>
            </ul>
        </div>
<%- include('partials/footer.ejs') %>