<%- include('partials/header.ejs') %>
        <h1> Mercury</h1>
        <div style="text-align:center;">
            <nav>
                <a href="/jupiter" class="btn"> Jupiter</a>
                <a href="/mercury" class="btn"> Mercury</a>
                <a href="/neptune" class="btn"> Neptune</a>
                <a href="/saturn"  class="btn"> Saturn</a>
                <a href="/uranus"  class="btn"> Uranus</a>
            </nav>
        </div>
        <img src="/img/mercury.png"/>
        <div class="info">
            <ul>
                <li>Since Mercury can be seen without the need of a telescope, many ancient civilizations saw the planet, and as such it is impossible to determine who discovered it first. However, it was first observed with the help of a telescope in early 17th century, by Galileo Galilei.</li>
                <li>Galileo’s crude telescope didn’t manage to capture Mercury’s phases, this would be observed later by astronomer Giovanni Zupi in 1639, and thus he discovered that the planet had similar phases like Venus and the Moon.</li>
                <li>In ancient times, Mercury was taught as being two different objects in the sky: The Mourning Star and The Evening Star. In Venus’s case, it was also mistakenly believed to be two different things.</li>
                <li>Mercury was named after the Roman messenger god, because of its fast movements around the Sun.</li>
                <li>Mercury is the closest planet to the Sun at a distance of 57.91 million kilometers / 35.98 miles or 0.4 AU away. It takes sunlight 3.2 minutes to travel from the Sun to Mercury</li>
            </ul>
        </div>
<%- include('partials/footer.ejs') %>