<%- include('partials/header.ejs') %>
        <h1> Neptune</h1>
        <div style="text-align:center;">
            <nav>
                <a href="/jupiter" class="btn"> Jupiter</a>
                <a href="/mercury" class="btn"> Mercury</a>
                <a href="/neptune" class="btn"> Neptune</a>
                <a href="/saturn"  class="btn"> Saturn</a>
                <a href="/uranus"  class="btn"> Uranus</a>
            </nav>
        </div>
        <img src="/img/neptune.png"/>
        <div class="info">
            <ul>
                <li>Neptune was given the name of the roman god of the sea due to its bluish-ocean like color. Its satellites also received names of water deities.</li>
                <li>Neptune’s color is believed to be influenced by the presence of methane in its atmosphere and also an unknown factor.</li>
                <li>Neptune has an average distance of 2.8 billion miles/4.5 billion kilometers or 30 AU away from the Sun, being the furthest of the eight planets. Currently it is 29.4 AU away from Earth with its light taking up to 4 hours to arrive to us. Neptune’s actual position can be checked online as the planet is constantly tracked.</li>
                <li>As a result from its distance, it also has the longest orbital duration completing a trip around the Sun in about 165 years.</li>
            </ul>
        </div>
<%- include('partials/footer.ejs') %>