<%- include('partials/header.ejs') %>
        <h1> Saturn</h1>
        <div style="text-align:center;">
            <nav>
                <a href="/"  class="btn"> Main Page</a>
                <a href="/jupiter" class="btn"> Jupiter</a>
                <a href="/mercury" class="btn"> Mercury</a>
                <a href="/neptune" class="btn"> Neptune</a>
                <a href="/saturn"  class="btn"> Saturn</a>
                <a href="/uranus"  class="btn"> Uranus</a>
            </nav>
        </div>
        <img src="/img/saturn.png"/>
        <div class="info">
            <ul>
                <li>Since ancient times Saturn was known to humanity because of its brightness and closeness to Earth. It’s not possible to give someone credit for the discovery of Saturn, however, the first telescopic observation was conducted by Galileo Galilei in 1610.</li>
                <li>Because of the crude telescope available at the time, Galileo failed to observe the rings of Saturn. The discovery of the rings was made by Christiaan Huygens in 1659.</li>
                <li>Saturn is named after the Roman god of harvest and time, the equivalent of the Greek god of time, Cronos.</li>
                <li>Out of the five visible planets (Mercury, Venus, Mars, Jupiter), Saturn is the most distant from Earth, at a distance of 10.6 AU and an average of 9.6 AU away from the Sun. Light takes approximately 1 hour and 29 minutes to travel from Saturn and then arrive at us. For an actual and accurate position of Saturn, you can check it up online, as the planet is constantly tracked.</li>
                <li>Saturn is the second-largest planet of the Solar System, second only to Jupiter, having a radius of 58.232 km or 36.183 mi, about nine times that of Earth.</li>
            </ul>
        </div>
<%- include('partials/footer.ejs') %>