<%- include('partials/header.ejs') %>
        <h1> Uranus</h1>
        <div style="text-align:center;">
            <nav>
                <a href="/"  class="btn"> Main Page</a>
                <a href="/jupiter" class="btn"> Jupiter</a>
                <a href="/mercury" class="btn"> Mercury</a>
                <a href="/neptune" class="btn"> Neptune</a>
                <a href="/saturn"  class="btn"> Saturn</a>
                <a href="/uranus"  class="btn"> Uranus</a>
            </nav>
        </div>
        <img src="/img/uranus.png"/>
        <div class="info">
            <ul>
                <li>Since ancient times it was not recognized due to its dimness and slow orbit. However, in 1781 Sir William Herschel announced its discovery being the first planet discovered with the help of a telescope.</li>
                <li>It was given the name Uranus, after the Greek god of the sky Ouranos.</li>
                <li>It is the only planet whose name is derived directly from a figure of Greek mythology.</li>
                <li>The mean apparent magnitude of Uranus is 5.68 with a standard deviation of 0.17, making it near the limit of naked eye visibility.</li>
                <li>Uranus is the seventh planet from the Sun, around 1.8 billion miles or 2.9 billion kilometers distance away.</li>
                <li>It has the third-largest planetary radius and fourth-largest mass in the Solar System.</li>
            </ul>
        </div>
<%- include('partials/footer.ejs') %>